@use '../variables'
@use '../mixins'



#home
    background-color: variables.$bg-white-gray
    overflow: hidden
   

.principal-area
    margin-bottom: 80px

    @media screen and (min-width: variables.$desktop)
        position: relative
        margin-top: -100vh
        margin-bottom: 0
        height: 100vh
        padding: 0



.text-area-principal
    @include mixins.text-area
   
    
    @media screen and (min-width: variables.$desktop)
        width: 50%
        height: 100%
        padding-right: 100px
        margin-top: 0px

        h1
            text-align: start
            font-size: 52px
             
        p
            text-align: start
            font-size: 18px
            color: variables.$text-color-primary
            margin-top: 20px
 
.image-area 

    height: 390px
    background-image: url('/public/bg-intro-mobile.svg')
    background-repeat: no-repeat
    background-size: cover

    img
        height: 520px
        object-fit: cover
        margin-top: -35%
        
    

    @media screen and (min-width: variables.$desktop) 
        position: relative
        width: 55%
        height: 100vh
        margin-left: 45%
        background-image: url('/public/bg-intro-desktop.svg')
        background-position: 10% 75%
        background-size: auto

        img
            height: auto
            margin-top: -16%
            margin-left: 15%
    

    
.choose-area
    background-color: variables.$bg-white-blue

    @media screen and (min-width: variables.$desktop)
        height: 100vh

.text-area-choose
    @include mixins.text-area
    padding: 80px 15px 40px 15px

    p
        padding: 0 10px

    @media screen and (min-width: variables.$desktop)
        align-items: flex-start
        
        p
            width: 60%
            padding: 0
            text-align: start

.articles-area
    @include mixins.text-area
    margin-top: 80px
    margin-bottom: 80px

    @media screen and (min-width: variables.$desktop)
        height: 100vh
        align-items: flex-start
        margin: 0
       
           


    

            
            
    
        
    
    

.buttonInvite
    @include mixins.btn
    align-self: center
    margin-top: 20px
    

    @media screen and (min-width: variables.$desktop)

        align-self: flex-start
        
        
.chose-area 
   padding: 40px 20px

    