@use 'variables'


@mixin linkhover
    color: variables.$gradint-limon

    

@mixin btn
    
    background: linear-gradient(90deg, variables.$gradint-limon, variables.$gradient-blue)
    padding: 10px 25px 
    border: none
    border-radius: 20px
    align-self: center

    font-size: 14px
    font-weight: 700
    color: variables.$bg-white

    &:hover
        opacity: 0.7
        transition: .3s 


@mixin text-area
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    
    margin-top: 20px
    padding: 0 10px

    h1,h2,h3
        text-align: center

        font-size: 42px
        font-weight: 400
        color: variables.$text-color-secundary
 
    
    p
        text-align: center
        font-size: 18px
        color: variables.$text-color-primary
        margin-top: 20px
        




@mixin footerHover
    color: variables.$gradint-limon
    transition-duration: 4s
    

    




